@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  /* font-family:  sans-serif; */
  background-color: #f3f3f9;
  /* overflow-y: auto; */
}
.dropdown{
  padding: '8px 12px' !important;
}
.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0);
}